<div class="post-heading">
  <h1><%= @blog_post.title %></h1>
  <span class="meta">Posted <%= time_ago_in_words(@blog_post.created_at) %> ago   by <%= @blog_post.user.email %> </span>
</div>




  <div class="post-content">
      <p><%= simple_format(h @blog_post.post)  %></p>
  </div>


<%= link_to 'Edit', edit_blog_post_path(@blog_post), class:"btn btn-default navbar-btn" %> 
<%= link_to 'Back', blog_posts_path, class:"btn btn-default navbar-btn" %>
<hr>